@model IEnumerable<Post>


<h3>@Localizer["AlsoRead"]</h3>

@if (ViewBag.AvverageRating != null)
{
    <h6>@Localizer["AvverageRate"] @ViewBag.AvverageRating </h6>
}

@foreach (var post in Model)
{

<div class="card" style="width: 24rem;">
    @if (post.Images.Count != 0)
            {
    <img src="@post.Images[0].ImageUri" class="card-img-top" />
            }
            else
            {
    <img class="card-img-top" src="~/default.png" />
            }
    <div class="card-body">
        <h5 class="card-title text-truncate">
            <a class="stretched-link" asp-controller="Post" asp-action="PostDetails"
               asp-route-postId="@post.PostId">@post.Title </a>
        </h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text text-truncate">@post.ShortDescription</p>
        <p class="card-text"><small class="text-muted">@post.PublicationDate.ToShortDateString()</small></p>
    </div>
</div>


}
