<!DOCTYPE html>

<html>
<head>
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ilearning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/c303ac9db1.js" crossorigin="anonymous"></script>



    <link id="lightDarkScheme"
          href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css "
          rel="stylesheet">


    <script>
        if (localStorage.media != null) {
            $("#lightDarkScheme").attr("media", localStorage.media);
        }
        else {
            $("#lightDarkScheme").attr("media", "(prefers - color - scheme: dark)");
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>




</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">


            <a class="navbar-brand" asp-action="Index" asp-controller="Home">@Localizer["Home"]</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Roles" asp-action="Index">@Localizer["Roles"]</a></li>

                    }
                </ul>
            </div>
            <form method="post" asp-controller="Home" asp-action="Index">
                <div class="row form-group">
                    <div class="col-md-7">
                        <input name="Text" class="form-control" id="TextSearchIput" type="text" placeholder="@Localizer["SearchBox"]" aria-label="Enter search term..." aria-describedby="button-search">
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary" id="ApplyTextSearchButton" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </form>

            <a class="nav-link fa fa-user-circle-o" style="font-size:40px;color:white" asp-controller="Home" asp-action="SignIn"></a>


        </div>

    </nav>





    <div>
        @RenderBody()
    </div>

    @*<footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">My Website</p></div>
        </footer>*@


</body>
</html>
