<script src="~/ckeditor/ckeditor.js"></script>
<script type="module" src="~/js/bootstrap-tags.js"></script>

@model CreatePostViewModels

<div>
    <h3>@Localizer["AddingPost"]</h3>
    <p>@Localizer["AddingPostDesc"]</p>

    <form asp-antiforgery="true" asp-action="AddPost" asp-controller="Post" method="post" enctype="multipart/form-data">
        <div>
            <div class="validation" asp-validation-summary="All"></div>
            <div class="mb-4">
                <input type="hidden" asp-for="PostId" value="0" />
                <input type="hidden" asp-for="userName" value="@ViewBag.UserName" />
            </div>

            <div class="mb-4">
                <label asp-for="Title"></label><br />
                <input asp-for="Title" class="form-control" type="text" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ShortDescription"></label><br />
                <textarea asp-for="ShortDescription" class="form-control" rows="3" type="text"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Description"></label><br />
                <textarea asp-for="Description" id="Description" rows="10" cols="80"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Rating"></label><br />
                <input asp-for="Rating" class="form-control" type="number" min="0" max="10" placeholder="Рейтинг" required />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="CategoryId"></label><br />
                <div>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-select" aria-label="Default select example">
                        <option>@Localizer["SelectCategory"]</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <div class="select-arrow"></div>
                </div>
            </div>

            <div class="mb-4">
                <label asp-for="TagsId"></label><br />
                <div>
                    <select asp-for="TagsId" asp-items="ViewBag.TagsId" class="form-select" multiple>
                        <option selected disabled hidden value="">Choose a tag...</option>
                    </select>
                    <span asp-validation-for="TagsId" class="text-danger"></span>
                    <div class="invalid-feedback">@Localizer["TagError"]</div>
                </div>
            </div>

            <div class="panel-body">
                <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block"
                        back>
                    @Localizer["Next"]
                </button>
            </div>
        </div>

    </form>

</div>



<script>CKEDITOR.replace('Description');</script>


