@model IEnumerable<Post>

<form id="CreateLinkform" asp-action="CreateLink" asp-controller="Post"
      method="post" enctype="multipart/form-data">
    <table id="myTable" class="table">
        <thead>
            <tr><th>@Localizer["PostName"]</th><th>@Localizer["PostDate"]</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
            <tr>
                <td>@post.Title</td>
                <td>@post.PublicationDate.ToShortDateString()</td>
                <td>
                    <input name="postsId" class="form-check-input" type="checkbox" value="@post.PostId">
                </td>
            </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-sm btn btn-primary mt-2"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
        @Localizer["CreateLink"]
        </button>
    </form>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localizer["CreateLinkDesc"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Localizer["ConnectedPost"]
                </div>
            </div>
        </div>
    </div>




