<script src="~/ckeditor/ckeditor.js"></script>
<script type="module" src="~/js/bootstrap-tags.js"></script>

<div>

    <h3>Редактирование публикации</h3>
    <p>Для добавление публикации заполните следующие поля:</p>

    <form asp-action="EditPost" asp-controller="Post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="PostId" value="@Model.Post.PostId" />

        <div class="form-group col-md-15">
            <input class="form-control" type="text" name="Title" value="@Model.Post.Title" placeholder="Заголовок" />
        </div>

        <div class="form-group  col-md-15">
            <textarea class="form-control" rows="3" type="text" name="ShortDescription"
                      placeholder="Короткое описание">@Model.Post.ShortDescription</textarea>
        </div>

        <div class="form-group col-md-15">
            <textarea id="Description" name="Description" rows="10" cols="80">@Model.Post.Description</textarea>
        </div>

        <div class="form-group  col-md-15">
            <input class="form-control" type="number" name="rating" min="0" max="10" value="@Model.Post.Rating" placeholder="Rating" />
        </div>

        <div class="form-group col-md-15">
            <div>
             

                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.CategoryId)

                <div class="select-arrow"></div>
            </div>
        </div>

        <div class="form-group col-md-15">
            <div>
        
                @Html.DropDownList("TagsId", (IEnumerable<SelectListItem>)ViewBag.TagsId, htmlAttributes: 
               new { @class = "form-select", multiple = "multiple" })

                <div class="invalid-feedback">Please select a valid tag.</div>
            </div>
        </div>

        <div class="dropzone-previews"></div>

        <div class="panel-body">
            <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block"
                    back>
                Next
            </button>
        </div>
    </form>

</div>



<script>
    CKEDITOR.replace('Description');
</script>


