@model Post

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">@Model.Title</h1>

                        <p>Оценка автора: @Model.Rating</p>
                        <p>Категория: @Model.Category.CategoryName</p>
                        
                        <div class="text-muted fst-italic mb-2">Опубликовано: @Model.PublicationDate.ToLongDateString()</div>

                        @foreach (var item in Model.Tags)
                        {
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">@item.TagName</a>
                        }

                    </header>


                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            @for (int i = 1; i < Model.Images.Count; i++)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="@Model.Images[0].ImageUri" >
                            </div>
                            @for (int i = 1; i < Model.Images.Count; i++)
                            {
                                <div class="carousel-item ">
                                    <img class="d-block w-100" src="@Model.Images[i].ImageUri" >
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <section class="mb-5">
                        <p class="fs-5 mb-4">@Model.ShortDescription</p>
                    </section>


                    <section class="mb-8">
                        <h2 class="fw-bolder mb-4 mt-5">Описание:</h2>
                        <p class="fs-4 mb-8">@Html.Raw(Model.Description)</p>
                    </section>

                </article>

                <div id="like">likes: @ViewBag.CountLike</div>

                <form id="myLikePost" method="post" enctype="multipart/form-data" asp-controller="Post" asp-action="Like"
                      asp-route-postId="@Model.PostId">

                    <a  onclick="showlike()" class="fa fa-heart-o fa-lg" ></a>
                </form>

                <div class="d-inline">Пользовательский рэйтинг:</div>
                <h1 id="avverageUserRate">@Model.UserRating</h1>


                <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:20px;cursor:pointer;" class="fa fa-star checked"></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one" style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one" style="font-size:20px;cursor:pointer;" class="fa fa-star "></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one" style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one" style="font-size:20px;cursor:pointer;" class="fa fa-star"></span>
                <br />
                <div class="d-inline"></div>
                <span id="myRating"></span>

                <form id="myRatePost" method="post" enctype="multipart/form-data"
                      asp-controller="Post" asp-action="Rate" asp-route-postId="@Model.PostId">

                    <button type="button" onclick="showrating()" class="btn btn-lg btn-success">Оценить</button>
                </form>

                <input type="hidden" name="PostId" value="@Model.PostId" />

                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">

                            <form class="mb-4">
                                <textarea id="messageZone" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>

                                <button id="butSend" type="button" onclick="" class="btn btn-primary">Отправить</button>
                            </form>


                            <div id="chatroom"></div>


                        </div>
                    </div>
                </section>
            </div>


            <script src="~/js/signalr.min.js"></script>
            <script src="~/js/chat.js"></script>

            <div class="col-lg-4">

                <div class="card mb-4">
                    <div class="card-header">Публикации по тэгам:</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">

                                    @for (int i = 0; i < Model.Tags.Count; i++)
                                    {
                                        <li><a href="#!">@Model.Tags[i].TagName</a></li>
                                    }

                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="card mb-4">
            <div class="card-header">Raiting</div>
            <div class="card-body">@Model.Rating</div>
        </div>*@
            </div>
        </div>
    </div>

    <script src="~/js/like.js"></script>
    <script src="~/js/rate.js"></script>
