<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.theme.default.min.css" />


@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h1>@Localizer["Header"]</h1>
<h3>@Localizer["Message"]</h3>

<div class="container">
    <h4><a>Последнии публикации:</a></h4>
    <p>Обновляется после каждой добавленной записи</p>

    <div class="owl-two owl-carousel owl-theme">
        @foreach (var post in Model.AllPosts)
        {

            <div class="ms-2 me-2">
                <div class="card">
                    <img src="@post.Images[0].ImageUri" class="card-img-top " />
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.PostId">
                                @post.Title
                            </a>
                        </h5>
                        @post.Category.CategoryName
                        <p> Raiting: @post.UserRating</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />

<div class="container">
    <a>Публикации с самым высоким рэйтингом:</a>
    <p>Обновляется после каждой добавленной записи</p>

    <div class="owl-three owl-carousel owl-theme">

        @foreach (var post in Model.HighlyRatedPublications)
        {
            <div class="ms-2 me-2">
                <div class="card">
                    <img src="@post.Images[0].ImageUri" class="card-img-top " />
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.PostId">
                                @post.Title
                            </a>
                        </h5>
                        @post.Category.CategoryName
                        <p> Raiting: @post.UserRating</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<br />

<div class="container">
    <div>
        @foreach (var tag in Model.AllTags)
        {
            <div class="ms-2 me-2">
                <div>
                    <div>
                        <a asp-action="Galery" asp-route-tag="@tag">#@tag </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/carousel.js"></script>
<script src="~/lib/bootstrap/dist/js/owl.carousel.min.js"></script>