<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.theme.default.min.css" />

<h1>Публикации по тэгам:</h1>
<p>Обновляется после каждой добавленной записи</p>

<div class="container">
    <div class="owl-one owl-carousel owl-theme">
        @foreach (var tag in Model.AllTags)
        {
            <div class="ms-2 me-2">
                <div  >
                    <div >
                          <a asp-controller="Home" asp-action="Index" asp-route-tag="@tag">#@tag </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="owl-two owl-carousel owl-theme">

        @foreach (var post in Model.PostsWithTags)
        {
            <div class="ms-2 me-2">
                <div class="card">
                    <img src="@post.Images[0].ImageUri" class="card-img-top " />
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.PostId">
                            @post.Title</a>
                        </h5>
                        @post.Category.CategoryName
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<h1>Недавно опубликованные:</h1>
<p>Обновляется после каждой добавленной записи</p>

<div class="container">
    <div class="owl-two owl-carousel owl-theme">

        @foreach (var post in Model.AllPosts)
        {
            <div class="ms-2 me-2">
                <div class="card">
                    <img src="@post.Images[0].ImageUri" class="card-img-top " />
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a  asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.PostId">
                                @post.Title </a>
                        </h5>
                        @post.Category.CategoryName
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<h1>Публикации с самым высоким рэйтингом:</h1>
<p>Обновляется после каждой добавленной записи</p>

<div class="container">
    <div class="owl-three owl-carousel owl-theme">

        @foreach (var post in Model.HighlyRatedPublications)
        {
            <div class="ms-2 me-2">
                <div class="card">
                    <img src="@post.Images[0].ImageUri" class="card-img-top " />
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            <a asp-controller="Post" asp-action="PostDetails" asp-route-postId="@post.PostId">
                                @post.Title
                            </a>
                        </h5>
                        @post.Category.CategoryName
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script src="~/js/carousel.js"></script>
<script src="~/lib/bootstrap/dist/js/owl.carousel.min.js"></script>

