

@if (User.Identity.IsAuthenticated)
{
<h1 class="d-inline mt-5">@Localizer["Welcome"] @ViewBag.Name</h1>
<i class="fas fa-heart " style="color: #f7296a">@ViewBag.LikesCount</i>
<br />
<a class="btn btn-primary  my-2 mt-5" asp-controller="Post" asp-action="Index">@Localizer["MyPublication"]</a>
<br />
@if (User.IsInRole("Admin"))
    {
<a class="btn btn-primary my-2 customprof" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a>
<a class="btn btn-primary my-2 customprof" asp-controller="Roles" asp-action="Index">@Localizer["Roles"]</a>
<a class="btn btn-primary my-2 customprof" asp-controller="Post" asp-action="AllPosts">@Localizer["CreateLink"]</a>
    }

<a>@await Html.PartialAsync("_SelectLanguagePartial")</a>

<br />
<br />

<a class="btn btn-outline-danger mt-2" onclick="location.href='@Url.Action("LogOff", "Account")'">@Localizer["LogOff"]</a>


<form id="darkThemePost" method="post" enctype="multipart/form-data"
      asp-controller="Users" asp-action="ThemeSwitch" asp-route-userName="@User.Identity.Name">

    <div class="position-fixed py-2 px-3 bg-dark text-white rounded-pill" style="bottom:1rem;left:1rem;">
        <div class="form-check form-switch pull-right">
            <input class="form-check-input" type="checkbox" id="darkMode">
            <label id="darkModeLabel" for="darkMode"></label>
        </div>
    </div>
</form>

<script src="~/js/dark-mode-switch.min.js"></script>
}
else
{
<div class=" p-5 rounded">
    <p class="lead">@Localizer["SignInDesc"]</p>
    <a class="btn btn-lg btn-primary fa fa-user-circle-o"
       asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">@Localizer["SignIn"]</a>
</div>
}




