@model IEnumerable<User>

<table id="myTable" class="table">
    <thead>
    <tr><th>Email</th><th>@Localizer["Name"]</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Email</td>
            <td>@user.GivenName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary custom" asp-action="PostsList" asp-route-id="@user.Id">@Localizer["Posts"]</a>
                    <a class="btn btn-sm btn-primary custom" asp-action="Lock" asp-route-id="@user.Id">@Localizer["Block"]</a>
                    <button type="submit" class="btn btn-sm btn-danger custom">
                        @Localizer["Delete"]
                    </button>
                </form>

            </td>
            <td>
            </td>

        </tr>
        }
        </tbody>
</table>