@model IEnumerable<Post>


<table id="myTable" class="table">
    <thead>
        <tr><th>@Localizer["PostName"]</th><th>@Localizer["PostDate"]</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
        <tr>
            <td>@post.Title</td>
            <td>@post.PublicationDate.ToShortDateString()</td>
            <td>
                <form method="post">
                    <a class="btn btn-sm btn-primary custom" asp-controller="Post" asp-action="EditPost" asp-route-id="@post.PostId">@Localizer["Change"]</a>
                    <button type="submit" class="btn btn-sm btn-danger custom" asp-controller="Post" asp-action="DeletePost" asp-route-postId="@post.PostId"
                            asp-route-returnUrl="@Context.Request.Path">
                        @Localizer["Delete"]
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-sm btn btn-primary mt-2" asp-controller="Post" asp-action="AddPost" asp-route-userName="@ViewBag.UserName">@Localizer["AddPost"]</a>


